@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #dedede;
  color: rgba(255, 255, 255, 0.87);
  color-scheme: light dark;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #f8f8f8;
    color: #181818;
  }
}

@font-face {
  font-family: "Patrick";
  src: url("../../public/fonts/PatrickHand-Regular.ttf");
}

@font-face {
  font-family: "Meera";
  src: url("../../public/fonts/MeeraInimai-Regular.ttf");
}


.font-text {
  font-family: 'Patrick', sans-serif;
}

.font-body {
  font-family: 'Meera', sans-serif;
}

@media screen and (min-width: 568px) {
  .grid-cols-pannel {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1000px) {
  .grid-cols-pannel {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media screen and (max-width: 568px) {
  .grid-cols-pannel {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #ed61bc;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

/* Popup style */
.popup-box {
  position: fixed;
  background: #21202079;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
 
.box {
  position: relative;
  margin: 0 auto;
  height: auto;
  max-height: 80vh;
  margin-top: calc(100vh - 85vh - 20px);
  overflow: auto;
}